<!doctype html>
<html>

  <head>
    <meta charset="utf-8"/>
    <meta name="author" content="gbmapviz"/>
    <title>gbmapviz</title>
    <style>
      body {
        text-align: center;
        width: 800px;
      }
      body, svg, table { margin: auto; }
      svg { border: black solid 1px; }
      tr td:first-of-type, tr th:first-of-type {
        text-align: right;
        font-family: monospace;
      }
      tr th + th {
        text-align: left;
        border-bottom: black solid 2px;
      }
      td { text-align: left; }
    </style>
  </head>

  <body>
    {% for bank in gbmap.banks %}
      {% if bank.sections %}
        <h1>{{ bank.name }}</h1>
        {{ bank.to_svg() }}
        {{ bank.to_html_table() }}
        <hr/>
      {% endif %}
    {% endfor %}
  </body>

</html>
